<template>
    <v-container fluid>
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card">
					<div class="card-header">Crear tu tienda</div>
					<div class="card-body">
						<div class="form-row">
							<div class="col-md-6">
								<label>Nombre</label>
								<input type="text" class="form-control" v-model="nombre" >
							</div>
							<div class="col-md-6">
								<label>Telefono</label>
								<input type="text" class="form-control" v-model="telefono" >
							</div>
						</div>
						<div class="form-row">
							<div class="col-md-6">
								<label>Direccion</label>
								<input type="text" class="form-control" v-model="direccion" >
							</div>
							<div class="col-md-6">
								<label>Email</label>
								<input type="email" class="form-control" v-model="email" >
							</div>
						</div>
						<div class="form-row">
							<div class="col-md-12">
								<label>mapa</label>
								<input type="text" class="form-control" v-model="mapa" >
							</div>
						</div>
						<div class="form-row">
							<div class="col-md-12">
								<img width="100%" height="100px"  :src="imagen"  alt="Imagen de la tienda">
								<input type="file" class="form-control" ref="file" v-on:change="onUploadImage()" >
							</div>
						</div>
						<button type="button" class="btn btn-primary" v-on:click="sendNetwordCreateProduct()">Guardar</button>
					</div>
       			</div>
            </div>
		</div>
	</v-container>  
</template>



<script>
  export default {
    data(){
      return {
		nombre:'',
		direccion:'',
		telefono:'',
		email:'',
		mapa:'',
		picFile:null,
		vistaPrevia:'',

      }
    },
	mounted() {
		
	},
	methods:{
		onUploadImage(){
			let load = this.$refs.file.files[0];
		    this.picFile = this.$refs.file.files[0];
		   	this.loadImagenes(load);
		},
		
		loadImagenes(load){
			let reader = new FileReader();
			
			reader.onload = (e) => {
				this.vistaPrevia = event.target.result;
			}
			reader.readAsDataURL(load);
		},
		
		sendNetwordCreateProduct(){

            if (this.nombre=="") {
              alert("Completa el campo de nombre ")
            }
            else if (this.direccion=="") {
              alert("Completa el campo direccion")
            }
			else if (this.telefono=="") {
              alert("Completa el campo de telefono")
			}
			else if (this.email=="") {
              alert("Completa el campo de email")
			}
			else if (this.mapa=="") {
              alert("Completa el campo de mapa")
            }
            else {

            const formData = new FormData()
				formData.append('nombre',this.nombre)
				formData.append('direccion',this.direccion)
				formData.append('telefono',this.telefono)
				formData.append('email',this.email)
				formData.append('mapa',this.mapa)
				formData.append('pinture',this.picFile)
             
            axios.post("store-create",formData).then(response => {
              	nombre: this.nombre = '';
                direccion: this.direccion = '';
                telefono: this.telefono = '';
                email: this.email = '';
				mapa: this.mapa = '';
              })
              
            } 
		},
		
	},
	computed: {
        imagen(){
            return this.vistaPrevia;
        }
    }
  }
</script>