<template>
  <v-app id="keep">
    <v-app-bar app clipped-left color="BLUE-GREY">
      <v-app-bar-nav-icon @click="drawer = !drawer" />
      <span class="title ml-3 mr-5">
        Shops&nbsp;
        <span class="font-weight-light">Maps</span>
      </span>
      
      <v-spacer />
    </v-app-bar>

    <v-navigation-drawer v-model="drawer" app clipped color="BLUE-GREY lighten-4">
      <v-list dense class="BLUE-GREY lighten-4">
        <template>
          <v-divider dark class="my-4" />
          <v-list-item link :to="{name:'maps'}">
            <v-list-item-action>
              <v-icon color="blue-grey darken-2">mdi-domain</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title class="black--text">Mis Tiendas</v-list-item-title>
            </v-list-item-content>
          </v-list-item>

  

          <v-list-item :to="{name:'shops'}">
            <v-list-item-action>
              <v-icon color="blue-grey darken-2">mdi-call-split</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title class="black--text">Nueva Tienda</v-list-item-title>
            </v-list-item-content>
          </v-list-item>

        </template>
      </v-list>
    </v-navigation-drawer>

    <v-content>
      <v-container fluid class="grey lighten-4 fill-height">
        <v-col class>
          <transition name="slide-fade" mode="out-in">
            <router-view ></router-view>
          </transition>
        </v-col>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
export default {
  data: () => ({
    drawer: null,
  }),

  created: function() {
    this.getListProducts();
  },

  methods: {
    getListProducts: function() {
      var urlProducts = "/store";
      axios.get(urlProducts).then(response => {
        this.Listproducts = response.data;
      });
    }
  }
};
</script>

<style>
#keep .v-navigation-drawer__border {
  display: none;
}
</style>